
$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;

// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";

// 兼容分页样式
@import "_typecho/pagination.styl";

.header-inner {
  +tablet-desktop() {
    // 原 padding: 20px 0;
    padding: 40px 0;
  }
}

.site-nav {
  +tablet-desktop() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-left {
      margin-left: 20px;
    }
  }

  +mobile() {
    margin-top: 8px;
    border-top: 1px solid #eee;
    padding: 4px 10px 0;

    // 导航条链接
    .menu-item a {
      margin-top: 5px;
      padding: 5px 10px;
    }
  }

  // 搜索框
  .site-search {
    +mobile() {
      margin-top: 5px;
      padding: 5px 10px;
    }
    input {
      width: 140px;
      padding: 3px;
      padding-left: 18px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #999;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNywxNC4zbC0zLjEwNS0zLjEwNUMxMy40NzMsMTAuMDI0LDE0LDguNTc2LDE0LDdjMC0zLjg2Ni0zLjEzNC03LTctN1MwLDMuMTM0LDAsN3MzLjEzNCw3LDcsNyAgYzEuNTc2LDAsMy4wMjQtMC41MjcsNC4xOTQtMS40MDVMMTQuMywxNS43YzAuMTg0LDAuMTg0LDAuMzgsMC4zLDAuNywwLjNjMC41NTMsMCwxLTAuNDQ3LDEtMUMxNiwxNC43ODEsMTUuOTQ2LDE0LjU0NiwxNS43LDE0LjN6ICAgTTIsN2MwLTIuNzYyLDIuMjM4LTUsNS01czUsMi4yMzgsNSw1cy0yLjIzOCw1LTUsNVMyLDkuNzYyLDIsN3oiLz48L3N2Zz4=") no-repeat 0 50%;
      background-size: 12px 12px;
      outline: none;
      font-size: 14px;
      opacity: 0.5;
      &:focus {
        opacity: 1;
      }
    }
  }
}
